%nav.navbar.navbar-default.navbar-fixed-top
  %ul.nav.navbar-nav
    %li
      = link_to 'Home', books_url
    %li
      = link_to 'Import', new_book_url
    %li
      = link_to 'Export All', export_books_url, method: :post
